<main>
    <h2>Resume</h2>
    <button><a href="/images/jfogus_resume.pdf" download>Download</a></button>
    <article class="resume">
        <div class="resume_section basic_info">
            <section>
                <h3>Contact Info</h3>
                <p>Please use the contact form to request this information.</p>
            </section>
            <section>
                <h3>Education</h3>
                <dl>
                    <dt>BS (Computer Science)</dt>
                    <dd>Oregon State University (expected 2021)</dd>
                    <dt>MA (Human Behavior & Society)</dt>
                    <dd>Valparaiso University, Indiana</dd>
                    <dt>BS (Psychology)</dt>
                    <dd>Valparaiso University, Indiana</dd>
                </dl>
            </section>
            <section>
                <h3>Key Skills</h3>
                <h4>Languages:</h4>
                <ul>
                    <li>Python3</li>
                    <li>JavaScript</li>
                    <li>MySQL</li>
                </ul>
                <h4>Libraries:</h4>
                <ul>
                    <li>Node.js</li>
                    <li>Express.js</li>
                    <li>React</li>
                </ul>
                <h4>Software:</h4>
                <ul>
                    <li>Excel</li>
                    <li>Visio</li>
                </ul>
                <h4>Operating Systems:</h4>
                <ul>
                    <li>Windows</li>
                    <li>MacOS</li>
                    <li>Linux</li>
                </ul>
            </section>
        </div>
        <div class="resume_section job_info">
            <section>
                <h3>Experience</h3>
                <span>2018 - Present</span>
                <h4>Program Coordinator / Procedure Coordinator - Seattle Children's
                Hospital</h4>
                <ul>
                    <li><p>
                        Founded the Apheresis department with a team of directors, physicians, nurses,
                        and quality managers.
                    </p></li>
                    <li><p>
                        Mapped and revised the provider consult workflow, procedure coordination, and
                        insurance authorization processes.
                    </p></li>
                    <li><p>
                        Brainstormed and implemented collection of operational metrics that are reported
                        at multiple levels of the Quality team’s hierarchy.
                    </p></li>
                    <li><p>
                        Architected an Access database for tracking operational metrics for the
                        Apheresis department.
                    </p></li>
                    <li><p>
                        Initiated and facilitated the implementation of the registration process for
                        the Dialysis Unit: planning and coordinating with other departments, educating
                        families about the changes verbally and in writing, and following through with
                        support for new patients.
                    </p></li>
                    <li><p>
                        Developed Excel spreadsheets to monitor patient attendance which are used by the
                        entire dialysis treatment team including doctors, nurses, nutritionists, social
                        workers, and administrators.
                    </p></li>
                    <li><p>
                        Trained my supervisors in the use of Excel.
                    </p></li>
                    <li><p>
                        Created a report in Epic, and instructional job aids, to allow the nurses to
                        determine patient arrival status.
                    </p></li>
                    <li><p>
                        Translated a flowchart for patient medication into an Excel spreadsheet to
                        reduce error.
                    </p></li>
                </ul>
                <span>2013 - Present</span>
                <h4>Webmaster</h4>
                <ul>
                    <li>plasmafiles.com (in development)</li>
                    <li><a href="http://www.crazylegsraceseries.info" target="_blank">crazylegsraceseries.info</a></li>
                    <li><a href="http://www.heroeshavenmc.com" target="_blank">heroeshavenmc.com</a></li>
                    <li>aimfabrication.com (formerly)</li>
                </ul>
                <span>2014 - 2015</span>
                <h4>Consumer Back Office Representative - Parker Staffing at Nintendo of America</h4>
                <ul>
                    <li><p>
                        Investigated over 10,000 consumer requests to determine ownership of
                        products and accounts, develop an appropriate course of action, and
                        resolve the requests.
                    </p></li>
                </ul>
            </section>
        </div>
    </article>
</main>