extends layout.pug

block content
    main
    h2 Resume
    button: a(href="/images/jfogus_resume.pdf" download) Download
    article(class="resume")
        div(class="resume_section basic_info")
            section
                h3 Contact Info
                p Please use the contact form to request this information.
            section
                h3 Education
                dl
                    dt BS (Computer Science)
                    dd Oregon State University (expected 2021)
                    dt MA (Human Behavior & Society)
                    dd Valparaiso University, Indiana
                    dt BS (Psychology)
                    dd Valparaiso University, Indiana
            section
                h3 Key Skills
                div(class="skills")
                    div
                        h4 Languages:
                        ul
                            li Python3
                            li JavaScript
                            li MySQL
                    div
                        h4 Libraries:
                        ul
                            li Node.js
                            li Express.js
                            li React
                    div
                        h4 Software:
                        ul
                            li Excel
                            li Visio
                    div
                        h4 Operating Systems:
                        ul
                            li Windows
                            li MacOS
                            li Linux
        div(class="resume_section job_info")
            section
                h3 Experience
                span 2018 - Present
                h4 Program Coordinator / Procedure Coordinator - Seattle Children's Hospital
                ul
                    li: p Founded the Apheresis department with a team of directors, physicians,
                        |  nurses, and quality managers.
                    li: p Mapped and revised the provider consult workflow, procedure coordination,
                        |  and insurance authorization processes.
                    li: p Brainstormed and implemented collection of operational metrics that are
                        |  reported at multiple levels of the Quality team’s hierarchy.
                    li: p Architected an Access database for tracking operational metrics for the
                        |  Apheresis department.
                    li: p Initiated and facilitated the implementation of the registration process
                        |  for the Dialysis Unit: planning and coordinating with other departments,
                        |  educating families about the changes verbally and in writing, and
                        |  following through with support for new patients.
                    li: p Developed Excel spreadsheets to monitor patient attendance which are used
                        |  by the entire dialysis treatment team including doctors, nurses,
                        |  nutritionists, social workers, and administrators.
                    li: p Trained my supervisors in the use of Excel.
                    li: p Created a report in Epic, and instructional job aids, to allow the nurses
                        |  to determine patient arrival status.
                    li: p Translated a flowchart for patient medication into an Excel spreadsheet to
                        |  reduce error.
                span 2013 - Present
                h4 Webmaster
                ul
                    li plasmafiles.com (in development)
                    li: a(href="http://www.crazylegsraceseries.info" target="_blank") crazylegsraceseries.info
                    li: a(href="http://www.heroeshavenmc.com" target="_blank") heroeshavenmc.com
                    li aimfabrication.com (formerly)
                span 2014 - 2015
                h4 Consumer Back Office Representative - Parker Staffing at Nintendo of America
                ul
                    li: p Investigated over 10,000 consumer requests to determine ownership of
                        |  products and accounts, develop an appropriate course of action, and
                        |  resolve the requests.
