extends layout.pug

block content
    main
        div(class="info mt-4")
            div(class="container-xl")
                div(class="row")
                    section(class="card col-sm-12 col-md-4 px-md-0 py-md-0 px-lg-3 py-lg-3")
                        div(class="card-body px-md-3 py-md-3 px-lg-3 py-lg-3")
                            h2(class="card-title") Who Josh is...
                            p(class="card-text") He is a full-time #[em computer science student] at Oregon State University. Previously
                                |  he worked as a #[em Program Coordinator] at Seattle Children's Hospital, helping
                                |  to develop their new apheresis department.
                    section(class="card col-sm-12 col-md-4 px-md-0 py-md-0 px-lg-3 py-lg-3")
                        div(class="card-body px-md-3 py-md-3 px-lg-3 py-lg-3")
                            h2(class="card-title") What Josh is about...
                            p(class="card-text") He is all about #[em hard work], #[em discipline] and #[em minimalism]. He enjoys reading
                                |  books, exploring ideas, and trialing new ways to improve himself. He has
                                |  a dream of everything he owns fitting into his vehicle.
                    section(class="card col-sm-12 col-md-4 px-md-0 py-md-0 px-lg-3 py-lg-3")
                        div(class="card-body px-md-3 py-md-3 px-lg-3 py-lg-3")
                            h2(class="card-title") What Josh does...
                            p(class="card-text") He likes to make things. He enjoys writing #[em Python], tolerates writing
                                |  #[em JavaScript], and absolutely adores writing #[em assembly]. When he's not writing
                                |  code, he can likely be found taking long walks throughout the city in which
                                |  he lives or a nearby park.
        div(class="container-xl mt-5")
            div
                h2 Books I've read:
                span (Amazon affiliate links; ordered by completion)
                div(class="container-xl")
                    div(class="row")
                        if books
                            each book in books
                                include book.view.pug
