<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta property="og:title" content="Joshua Fogus's Portfolio" />
        <meta property="og:url" content="http://www.joshuafogus.com" />
        <meta property="og:image" content="/images/josh_large.png" />
        <meta property="og:description" content="A trove of information about Joshua's skills and experiences
            including released and in-development projects, employment history, and how to contact him." />
        <title>Joshua Fogus | {{title}}</title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
        <script src="/javascripts/script.js"></script>
  </head>
  <body>
    <header>
        <div>
            <img class="portrait" src="/images/josh.png" alt="Josh looking off into the distance">
            <h1>Joshua Fogus</h1>
        </div>
        <nav>
            <input type="checkbox" name="menu_toggle" id="menu_toggle" />
            <label for="menu_toggle"> </label>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/cv">CV</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/contact">Contact</a></li>
                <li>
                    <a href="https://github.com/jfogus" target="_blank">
                        <img src="images/github_logo.png" alt="GitHub Logo">
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/joshfogus/" target="_blank">
                        <img src="images/linkedin_logo.png" alt="LinkedIn Logo">
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    {{{body}}}
  </body>
</html>
