extends layout

block content
    main
        div(class="portfolio")
            section
                h2 Gess-Py
                div(class="project")
                    a(href="https://github.com/jfogus/Gess-Py" target="_blank")
                    div
                        img(src="/images/github_logo_large.png" alt="Gess Game")
                    div
                        div
                            h3 Technologies
                            ul
                                li Python 3
                                li Qt (PySide2)
                                li MVC (Model-View-Controller)
                        div
                            h3 Concept
                            p This started as a final project for an intro to computer
                                | science class. I enjoyed the project and thought it would
                                | be a good opportunity to try creating a GUI. I opted for
                                | Qt because it is cross platform, widely used, and works
                                | with both Python and C++.
                            p While Qt uses a model/view paradigm, I chose to implement
                                | the UI using an MVC paradigm. I wanted practice with MVC
                                | and thought this would be a good opportunity to try it out.
                            p Gess is a Chess/Go variant which you can find more information
                                | at #[a(href="https://www.chessvariants.com/crossover.dir/gess.html" target="_blank") chessvariants.com]
            section
                h2 Crazy Legs Race Series
                div(class="project")
                    a(href="http://www.crazylegsraceseries.info" target="_blank")
                        div: iframe(src="http://www.crazylegsraceseries.info"
                            title="Crazy Legs Race Series" scrolling="no")
                    div
                        div
                            h3 Technologies
                            ul
                                li Pug(Jade)
                                li Sass
                                li JavaScript
                                li Bootstrap
                                li Gulp
                                li JSON
                                li Python 3
                                li Linux
                                li Responsive Design
                                li Node.js (development)
                        div
                            h3 Concept
                            p This site was created for a trail race director in Indiana.
                                | It has gone through a few different iterations in design
                                | and backend and will likely go through a few more.
                            p Currently, this static site is built using node.js and gulp
                                | to compile a series of JSON files holding race and result
                                | data. The resulting files are uploaded to an apache server.
                            p When new result data is to be added, I run a script I wrote
                                | in Python that converts the .pdf I'm given to a JSON file
                                | which is then used in the previously mentioned build process.
                                | I previously did this work on a Linux system (either Ubuntu or
                                | Fedora) but recently have been using Windows 10 with the Windows
                                | Subsystem for Linux version 2.
            section
                h2 Heroes Haven
                div(class="project")
                    a(href="http://www.heroeshavenmc.com" target="_blank")
                        div: iframe(src="http://www.heroeshavenmc.com" title="Heroes Haven" scrolling="no")
                    div
                        div
                            h3 Technologies
                            ul
                                li HTML
                                li CSS
                                li JavaScript
                                li Responsive Design
                        div
                            h3 Concept
                            p This site has an older design I made which could use an update.
                                | I have learned a lot of new techniques since then and also,
                                | importantly, subtlety.  This is one fo the first sites I created.

            section
                h2 This site
                div(class="project")
                    a(href="#" target="_blank")
                        div
                            img(src="/images/josh_large.png" title="My Portfolio Site")
                    div
                        div
                            h3 Technologies
                            ul
                                li Handlebars
                                li CSS
                                li JavaScript
                                li Node.js
                                li Express.js
                                li Responsive Design
                        div
                            h3 Concept
                            p This is my portfolio. There are many others like it,
                                | but this one is mine. Full Metal Jacket references aside,
                                | you are already here and have probably seen a bit of what
                                | this site is already about. It started as a final project
                                | for a web development class, but will persist and be
                                | developed and maintained as I continue to learn.
                            p While I would generally opt for using Pug(Jade), due to
                                | requirements of the initial project, I am using handlebars.
                                | I like handlebars just fine, but prefer Pug due to the more
                                | succinct syntax.  I would typically use Sass instead of plain
                                | CSS, but again this was first for a project. A later
                                | implementation may be with other technology.
                            p The backend is completed with node.js and express.js which,
                                | as far as web development goes, is pretty great. Writing
                                | JavaScript is not my favorite thing, but server side JavaScript
                                | is significantly better than writing client side JavaScript from
                                | 2013 when I first started learning any of this.
