extends layout

block content
    main(class="container-xl mt-3")
        if projects
            div(class="row" id="selector")
                div(class="col-12 col-md-3 mb-5 mb-md-0")
                    button(class="btn btn-dark d-block d-md-none mx-auto" type="button" data-toggle="collapse" data-target="#project-buttons") Projects
                    div(class="btn-group-vertical w-100 d-md-block collapse" id="project-buttons")
                        each project in projects
                            - let name = project.name.replace(/\s/g, "-").toLowerCase()
                            button(class="btn btn-light" type="button" data-toggle="collapse" data-target=`#${name}`) #{project.name}
                div(class="col-12 col-md-9")
                    each project, i in projects
                    
                        include project.view.pug
